*{
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    text-transform: uppercase;
    background-color: #3CB371;
    list-style: none;
}
  
  .menu ul > li {
    position: relative;
}
  
  .menu li > ul {
    display: none;
    flex-direction: column;
    align-content: space-around;
    position: absolute;
    top: 100%;
    vertical-align: middle;
    align-items: stretch;
    height: unset;
}
  
  .menu ul li:hover > ul {
    display: flex;
}
  
  .menu li > a {
    display: flex;
    padding: 15px 20px;
    font-family: arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
  
  .menu li:hover > a {
    background:	#008080;
}


.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-section-one{
    background-image: url(../assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.background-section-two{
    background-image: url(../assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.background-section-three{
    background-image: url(../assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   }

.card-container{
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    font-family: arial, sans-serif;
    font-style: italic;
    max-width: 600px;
    display: grid;
    
    
}

.card-container1{
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    font-family: arial, sans-serif;
    font-style: italic;
    max-width: 600px;
    display: grid;
    
    
}

form{
    display: grid;
    
    
}

form1{
    display: grid;
    
}


footer{
    height: 150px;
    padding: 25px;
    text-align: center;
    font-family: arial, sans-serif;
    font-style: italic;
    background-color: #3CB371;
    color: #fff;
}
